footer {
  color: #858b9f;
  font-size: 14px;
  transition: all .4s ease;
  position: relative;
  z-index: 99;

  &.dark-footer {
    background: #252c41 !important;

    h4 {
      color: $white;
    }
  }

  .footer-widget {
    padding: 5px 0;

    &-img {
      margin-bottom: 2rem;
      max-width: 180px;
    }

    &-address {
      color: #858b9f;
      font-size: 13px;
    }

    &-title {
      font-size: 17px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: block;
        list-style: none;
        margin-top: 15px;

        a {
          color: #858b9f;
          font-size: 14px;
          transition: all .4s ease;
        }
      }
    }

    .other-store-link {
      display: inline-block;
      margin-bottom: 20px;
      width: auto;

      .other-store-app {
        align-items: center;
        border: 1px solid #353d56;
        border-radius: 4px;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        height: 70px;
        padding: 0 14px;
        //width: 250px;

        .app-icon {
          //margin-right: 12px;
        }

        .app-text {
          font-size: 18px;
          font-weight: 600;

          span {
            color: #858b9f;
            display: block;
            font-size: 13px;
            font-weight: 400;
          }
        }
      }
    }

    .form-control {
      background-clip: initial;
      border: 1px solid #e0ecf5;
      box-shadow: none;
      font-size: 16px;
      height: 38px;
      padding: 0.5rem 0.75rem;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .btn {
      border: 2px solid transparent;
      border-radius: 0 0 0 0;
      color: #fff;
      cursor: pointer;
      padding: 5px 5px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: 0s;
    }
  }

  .footer-bottom {
    background: #1b2132;
    border-top: none;
    padding: 20px 0;

    .footer-text {
      @media (max-width: 768px) {
        text-align: center;
        margin-bottom: 20px !important;
      }
    }

    &-social {
      margin: 0;
      padding: 0;
      text-align: right;

      @media (max-width: 768px) {
        text-align: center;
      }

      li {
        display: inline-block;
        list-style: none;
        margin-right: 17px;
        margin-top: 0;

        a {
          color: #858b9f;
          font-size: 14px;

          img {
            margin-right: 5px;
            filter: invert(60%);
          }
        }
      }
    }
  }
}
