.header {
  .navbar {
    padding: 0;
  }

  &-navber {
    .navbar-brand-logo {
      font-size: 24px;
      margin-right: 1rem;
      padding: 8px 15px;
      text-decoration: none;

      img {
        max-width: 150px;
      }
    }

    .custom-navbar {
      line-height: normal;
      margin: 0;
      padding: 0;

      & > li {
        display: inline-block;
        text-align: left;

        & > a {
          color: #39466d !important;
          display: inline-block;
          font-family: $font-heading;
          font-weight: 500;
          transition: color 0.3s, background 0.3s;

          &:hover {
            color: #0fca98 !important;
          }
        }
      }

      &:focus > a {
        color: #0fca98 !important;
      }

      .custom-dropdown-menu {
        .dropdown-menu {
          background: $white;
          border: none;
          box-shadow: 0 0 50px 0 rgb(32 32 32 / 15%);
          padding: 15px;
          min-width: 15rem;
          top: 50px;
          left: 0 !important;

          &:before {
            background-color: $white;
            content: "";
            height: 20px;
            left: 25px;
            position: absolute;
            top: -10px;
            transform: rotate(45deg);
            transition: all .1s ease 0s;
            width: 20px;
          }

          & > li {
            clear: both;
            float: left;
            position: relative;
            width: 100%;

            & > a {
              border-bottom: 1px solid #e4e8ec;
              color: #5b6d90;
              display: inline-block;
              font-family: $font-heading;
              padding: 14px 20px 14px 10px;
              transition: all 0.3s ease 0s;
              width: 100%;

              &:hover {
                background: transparent;
                color: #0fca98;
                padding-left: 20px;
              }
            }

            &:last-child a {
              border-bottom: none;
            }
          }
        }
      }
    }

    .navigation-right {
      .navigation-right-item {
        margin-right: 15px;

        .nav-link {
          margin-top: 5px;
          color: #0fca98 !important;
        }
      }

      .sign-in-button {
        display: flex;
        align-items: center;
        color: $white;
        background: #08184b;
        border-radius: 4px;
        height: 38px;
        position: relative;
        margin-top: 5px;

        svg {
          margin-right: .75rem;
        }
      }
    }
  }
}

.navbar-collapse {
  &.show {
    margin-bottom: 20px;

    .navbar-nav {
      margin-left: 25px !important;
    }
  }
}
