#place {
  background-color: #f5faff;

  .latest-properties-radio {
    label {
      padding: 2px 10px;

      span {
        font-size: 16px;
      }
    }
  }

  .gallery {
    .slick-next {
      background: red;
    }

    .slick-slide {
      margin: 0 10px;
    }
  }
}

.place-layout {
  &-listing {
    background: $white;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 10px 12px rgb(77 60 160 / 10%);
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &-img,
    &-img-slide {
      max-height: 240px;
      min-width: 240px;
      overflow: hidden;
      position: relative;

      .carousel-control-prev-icon,
      .carousel-control-next-icon {
        background-image: none !important;
        background: hsla(0, 0%, 100%, 0.2);
        border-radius: 50%;
        box-shadow: 0 5px 24px rgba(31, 37, 59, 0.15);
        color: $white;
        cursor: pointer;
        font-size: 10px;
        height: 30px;
        line-height: 40px;
        opacity: 0;
        position: absolute;
        width: 30px;
        transition: 0.2s;
      }

      .carousel-control-prev-icon {
        &:before {
          font-weight: 800;
          content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='16' height='16' viewBox='0 0 448 512'%3e%3cpath d='M447.1 256C447.1 273.7 433.7 288 416 288H109.3l105.4 105.4c12.5 12.5 12.5 32.75 0 45.25C208.4 444.9 200.2 448 192 448s-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L109.3 224H416C433.7 224 447.1 238.3 447.1 256z'/%3e%3c/svg%3e");
        }
      }

      .carousel-control-next-icon {
        &:before {
          font-weight: 800;
          content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='16' height='16' viewBox='0 0 448 512'%3e%3cpath d='M438.6 278.6l-160 160C272.4 444.9 264.2 448 256 448s-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L338.8 288H32C14.33 288 .0016 273.7 .0016 256S14.33 224 32 224h306.8l-105.4-105.4c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160C451.1 245.9 451.1 266.1 438.6 278.6z'/%3e%3c/svg%3e");
        }
      }

      img {
        width: 100%;
      }
    }

    &-img {
      &:hover .carousel-control-next-icon,
      &:hover .carousel-control-prev-icon {
        opacity: 1;
      }

      &-action {
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        padding: 5px 10px;
        position: absolute;
        right: 15px;
        top: 15px;
        z-index: 9999;

        .add-to-wishlist {
          color: $white;
          display: inline-block !important;
          font-size: 20px;
          line-height: 1;
          min-height: unset !important;
        }
      }
    }

    &-detail {
      padding: 1rem 1.5rem;
      vertical-align: middle;
      width: 100%;

      &-wrap {
        align-items: center;
        display: flex;
        position: relative;
        width: 100%;

        &-short {
          flex: 1;

          .card-price {
            color: #1266e3 !important;
          }

          .sale-type {
            margin: 5px 0;
            border-radius: 50px;
            display: inline-block;
            font-size: 12px;
            font-weight: 600;
            padding: 4px 12px;

            &.sale {
              background: rgba(247, 68, 0, 0.1);
              color: #f74400;
            }

            &.rent {
              background: rgba(136, 102, 218, 0.1);
              color: #8866da;
            }
          }
        }
      }

      &-name {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0;
        position: relative;
      }

      .rating-wrap {
        display: flex;
        height: 25px;

        .rating {
          display: inline-block;
          font-weight: 900;
          font-size: 10px;
          height: 20px;
          overflow: hidden;
          position: relative;
          vertical-align: top;
          width: 70px;
          margin-top: 3px;

          .product-rate {
            color: #ff9800;
            left: 0;
            overflow: hidden;
            position: absolute;
            top: 0;
          }
        }

        .reviews-text {
          font-size: 13px;
          font-weight: 600;
          margin-left: 8px;
        }
      }
    }

    &-features {
      padding: 0.1rem 1rem 0.6rem;
      display: flex;
      flex-wrap: wrap;
    }

    &-footer {
      align-items: center;
      border-top: 1px solid #e4e8f3;
      display: flex;
      margin-top: 1rem;
      padding: 1rem 1.5rem;
      width: 100%;

      .footer-first {
        flex: 1;

        &-location {
          font-size: 15px;
          margin-top: 3px;
          margin-right: 5px;
        }
      }

      .footer-flex {
        .product-view {
          align-items: center;
          justify-content: center;
          background: #0fca98;
          border-radius: 50px;
          color: #fff !important;
          display: inline-flex;
          height: 30px;
          padding: 4px 18px;
        }
      }
    }
  }
}
.place-layout-listing-img-slide {
  height: 205px;

  img {
    object-fit: cover;
  }
}
