#search {
  padding: 0;
}

#searchSection {
  background-color: #f5faff;
  padding: 25px 0;
}

.filter {
  background: #ffffff;
  color: #ffffff;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);

  label {
    color: #000;
  }
}
