.top-bar {
    font-size: 12px;
    background: $top-bar;

    .currency {
        .language-list {
            margin-bottom: 0;
            padding-left: 0;

            li {
                min-width: 95px;
                float: left;
                display: block;
                margin: 0;
                width: 100%;

                a {
                    align-items: center;
                    display: flex;
                    font-size: 12px;
                    height: 40px;
                    justify-content: center;
                    padding: 0 10px;
                    text-align: left;
                    width: 100%;

                    img {
                        margin-top: 2px;
                        float: left;
                        margin-right: 10px;
                        width: 20px;
                    }

                    span {
                        color: $white;
                        margin-left: 3px;
                    }
                }
            }
        }
    }

    &-right {
        &-lang {
            button {
                background: transparent;
                border: none;
                outline: none !important;
                box-shadow: none;

                &:active {
                    background-color: transparent !important;
                    border-color: transparent !important;

                    &:focus {
                        box-shadow: none !important;
                    }
                }

                &:focus,
                &:hover {
                    background: transparent;
                    border: none;
                    outline: none !important;
                    box-shadow: none;
                }

                &[aria-expanded="true"] {
                    background: transparent !important;
                    outline: none !important;
                }
            }
        }
    }
}
