.gallery {
  //height: 420px;
  overflow: hidden;
  position: relative;
  top: 6px;

  .slick-list {
    .slick-track {
      .slick-slide {
        a {
          img {
            width: 100%;
          }
        }
      }
    }
  }
  .carousel-inner {
    width: 100%;
    max-height: 436px !important;
  }
}

.property-detail {
  &-wrap {
    background: $white;
    border: 1px solid #e6eaf3;
    border-radius: 4px;
    display: block;
    margin-bottom: 30px;
    padding: 0;
    width: 100%;

    &-title {
      .pr-type {
        background: #efefef;
        border-radius: 50px;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        margin: 5px 0;
        padding: 4px 12px;
      }

      .fix-price {
        color: #0fca98;
        line-height: 1.4;
      }
    }
  }
}

.accordion {
  .card {
    border: none;

    .card-header {
      background-color: transparent;
      border: none;

      .btn-info {
        color: #140c40;
        font-family: $font-body;
        background-color: transparent;
        border: none;
        text-align: inherit;
        font-weight: 700;
        transition: 0.2s ease-out;

        &:active {
          background-color: transparent !important;
          border-color: transparent !important;

          &:focus {
            box-shadow: none !important;
          }
        }

        &:focus,
        &:hover {
          background: transparent;
          border: none;
          outline: none !important;
          box-shadow: none;
        }

        &:after {
          font-weight: 800;
          align-items: center;
          background: $gray-800;
          border-radius: 50%;
          content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='14' height='14' viewBox='0 0 384 512'%3e%3cpath d='M352 352c-8.188 0-16.38-3.125-22.62-9.375L192 205.3l-137.4 137.4c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25l160-160c12.5-12.5 32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25C368.4 348.9 360.2 352 352 352z'/%3e%3c/svg%3e");
          display: flex;
          float: right;
          height: 20px;
          justify-content: center;
          margin-right: 0;
          position: relative;
          transition: 0.2s ease-out;
          width: 20px;
          font-size: 1px;
        }
      }

      .collapsed {
        &:after {
          font-weight: 800;
          align-items: center;
          background: $gray-800;
          border-radius: 50%;
          content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='14' height='14' viewBox='0 0 384 512'%3e%3cpath d='M192 384c-8.188 0-16.38-3.125-22.62-9.375l-160-160c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L192 306.8l137.4-137.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-160 160C208.4 380.9 200.2 384 192 384z'/%3e%3c/svg%3e");
          display: flex;
          float: right;
          height: 20px;
          justify-content: center;
          margin-right: 0;
          position: relative;
          transition: 0.2s ease-out;
          width: 20px;
        }
      }
    }

    .card-body {
      .block-body {
        padding: 0 1.5rem 1rem;
        display: inline-block;
        line-height: 1.7;
        width: 100%;

        iframe {
          width: 100%;
          height: 360px;
        }

        .detail_features {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;
          width: 100%;

          li {
            color: #546cb1;
            display: inline-block;
            flex: 0 0 33.333333%;
            font-size: 13px;
            line-height: 1.5;
            margin-bottom: 1.2rem;
            width: 33.333333%;

            strong {
              color: #08184b;
              display: inline-block;
              font-size: 14px;
              margin-right: 10px;
            }

            span {
              font-size: 17px;
            }
          }
        }

        .nearby {
          margin-bottom: 2rem;

          &:last-child {
            margin-bottom: 0;
          }

          &-section {
            display: block;
            position: relative;
            width: 100%;

            &-list {
              align-items: center;
              border-bottom: 1px solid #e8eaf1;
              display: flex;
              flex-wrap: wrap;
              padding: 6px 0;
              width: 100%;

              &:last-child {
                border-bottom: none;
              }

              &-ft {
                flex: 1;
              }

              h4 {
                color: #140c40;
                font-family: $font-body;
                font-size: 16px;
                margin: 0;
              }
            }
          }
        }

        .select-star {
          color: #455892;
          font-family: $font-heading;
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 0;
        }

        .review-star {
          svg {
            font-size: 24px;
            color: #ff9800;
          }
        }

        .total-rating {
          background: #f2f5f9;
          border-radius: 4px;
          display: inline-block;
          min-width: 100px;
          padding: 2rem 0.5rem;
          text-align: center;
          width: 100%;

          h4 {
            color: #00ba74;
            font-size: 36px;
          }

          span {
            color: #5f6c8a;
            font-size: 14px;
          }
        }
      }
    }
  }
}

.rating {
  background: #fff;
  border-radius: 8px;
  display: flex;
  margin: 35px 0 25px;
  padding: 30px 20px 30px 30px;

  &-box {
    align-items: center;
    border: #ffdead;
    border-radius: 0;
    border-right: 1px solid #e8e8e8;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    margin-right: 20px;
    padding-right: 27px;
    text-align: center;
    width: 135px;

    &-total {
      color: #2a2f3a;
      display: block;
      font-size: 58px;
      font-weight: 700;
      line-height: 1em;
    }

    &-percent {
      display: block;
      font-size: 15px;
      margin-bottom: 0;
    }

    .rating-star {
      color: #ff9800;
    }
  }

  .rating-bars {
    align-items: center;
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;

    &-item {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 10px 15px;
      width: calc(50% - 30px);

      &-name {
        margin-bottom: 5px;
        color: #4c4f5a;
        display: block;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
      }

      &-inner {
        display: flex;
        width: 100%;

        .progress {
          width: 100%;
          height: 5px;

          .progress-bar {
            background-color: #00ba74 !important;
          }
        }
      }
    }
  }
}

.like-share {
  background-color: #fff;
  border: 1px solid #e6eaf3;
  border-radius: 4px;
  color: #707070;
  margin-bottom: 20px;
  padding: 20px;
  transition: 0.25s;

  &-list {
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
      flex: 0 0 50%;
      list-style: none;
      padding: 0 5px;
      width: 50%;

      a {
        padding: 13px 25px;
        background: rgba(3, 169, 138, 0.1);
        border: 1px solid #03a98a;
        border-radius: 0.4rem;
        color: #03a98a !important;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
      }

      &:last-child a {
        background: rgba(249, 93, 2, 0.1);
        border-color: #f95d02;
        color: #f95d02 !important;
      }

      &:hover .social-share-panel {
        top: -25px;
        opacity: 1;
        visibility: visible;
      }
    }

    .social-share-panel {
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 20px rgb(0 0 0 / 10%);
      display: flex;
      left: 41px;
      margin-bottom: 20px;
      opacity: 0;
      position: absolute;
      top: -70px;
      transition: 0.5s;
      visibility: hidden;

      a {
        background: 0 0;
        border: none;
        border-radius: 0;
        border-right: 1px solid #f1f1f1;
        color: #03a98a !important;
        font-size: 18px;
        padding: 10px;
        text-align: center;
        width: 48px;
      }
    }
  }
}

.sidebar-message {
  &-widget {
    background-color: #fff;
    border: 1px solid #ebeef5;
    border-radius: 8px;
    color: #707070;
    margin-bottom: 30px;
    overflow: hidden;
    transition: 0.5s;

    .widget-header {
      align-items: center;
      background: #0fca98;
      color: #fff;
      display: flex;
      padding: 1.5rem 1.4rem;
      position: relative;

      .photo {
        display: block;
        float: left;

        img {
          border-radius: 50%;
          max-width: 60px;
        }
      }

      .widget-details {
        display: block;
        padding-left: 20px;
        position: relative;

        h4 {
          color: $white !important;
          margin-bottom: 2px;

          a {
            color: $white !important;
          }
        }

        span {
          color: #b8ffec;

          svg {
            color: #ffeb3b;
            font-size: 18px;
            margin-right: 5px;
            position: relative;
            top: 1px;
          }
        }
      }
    }

    .widget-body {
      padding: 1.5rem 1.4rem;

      .form-group {
        .form-control {
          background: #f6f8fd;
          border: 1px solid #edf0f9;
          box-shadow: none;
          font-size: 16px;
          height: 56px;
          padding: 0.5rem 0.75rem;
        }

        textarea.form-control {
          height: 180px;
        }

        .btn-black {
          background: #263547;
          border: 1px solid #263547;
          color: #fff;

          &:hover {
            background: #0f7dff;
            border: 1px solid #0f7dff;
          }
        }

        .btn-md {
          font-size: 1rem;
          padding: 1rem 1.5rem;
        }
      }
    }
  }
}

.reviews {
  &-list {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .comments {
        border-bottom: 1px dashed #e3e7ea;
        margin-bottom: 20px;

        &:last-child {
          border-bottom: none;
        }

        &-thumb {
          width: 12%;

          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        &-details {
          margin-left: 1.5rem;
        }
      }
    }

    article {
      overflow: hidden;
      padding-bottom: 25px;
    }
  }
}
